.center {
    display: flex;
    list-style: none;
    /* margin: 0 60px; */
    margin: 100px 0;
    /* display: none; */
   
}

.center li {
    padding-left: 5px;
}

.center span {
    padding-left: 30px;
}
.category {
    font-size: 30px;

}

.vegetables  {
    color: red;
    /* width: 128px; */
    /* height: 38px; */
    padding: 5px 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    border-radius: 5px;
    

}
.vegetables  {
    font-size: 30px;
}
.spices:hover  {
    color: red;
    /* width: 50px; */
    /* height: 38px; */
    padding: 10px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    border-radius: 5px;
    padding: 5px 5px;
    

}
.spices {
    font-size: 30px;
}
.fruits:hover {
    color: red;
    /* width: 50px; */
    /* height: 38px; */
    background: #FFFFFF;
    border-radius:5px;
    padding: 5px 5px;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1)  

}
.fruits  {
    font-size: 30px;
}
.tubers:hover {
    color: red;
    /* width: 20px; */
    /* height: 38px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    padding: 5px 5px;
    border-radius: 5px;
    

}
.tubers  {
    font-size: 30px;
}
.palm :hover {
    color: red;
    width: 20px;
    /* height: 38px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    padding: 20px 20px;
    border-radius: 5px; 

}
.palm  {
    font-size: 30px;
}

@media (max-width:768px) {
     .center {
         margin-top: 700px;
         font-size: 100px;
         overflow-x: scroll;
         width: 1400px;
         white-space: nowrap;
         margin-left: 100px;
     }

    .category {
        font-size: 140px;
    
    }.vegetables  {
        font-size: 140px;
    }

    .tubers{
     font-size: 140px;


 }

 .spices {
     font-size: 140px;
 }

 .palm{
     font-size: 140px;
 }

    @media (max-width:500px) {
        .center {
            margin-top: 800px;
            font-size: 90px;
            overflow-x: scroll;
            width: 900px;
            white-space: nowrap;
            margin-left: 150px;
        }
   
        .category {
           font-size: 100px;
       
       }.vegetables  {
           font-size: 100px;
       }

       .tubers{
        font-size: 100px;
   

    }

    .spices {
        font-size: 100px;
    }

    .palm{
        font-size: 100px;
    }

        

    

     
    
    
    

} 
   




