@import url('./search-box.css');
@import url('./barna.css');
@import url('./search.css');
@import url('./header.css');
@import url('./card.css');
@import url('./footer.css');
@import url('./footer2.css');

* {
    margin: 0;
    padding: 0;
}



html,
body{ 

    background: #E5E5E5;
    text-rendering: auto;
    text-size-adjust: 100%;
    min-width: 300px;
    box-sizing: border-box; 
    /* overflow-y: scroll; */
    /* overflow-x: hidden;  */
    scroll-behavior: smooth; 
}


.container {
   max-width: 1200px;
    margin:0 auto;
}

#navbar {
    background: #fff;
    height: 70px;
}


.navbar {
    display: flex;
    justify-content: space-between;
}


.navbar ul {
    display: flex;
    list-style: none;
    margin-right: 300px;
}

.navbar ul li {
    margin: 20px 17px;
}

.grocery {
    padding-right: 10px;
    padding: 25px;
    background: rgba(255, 71, 62, 0.07);
    position: relative;
    top: -18px;
}

.rest:hover {
    background: red;
    position: relative;
    top: -18px;
    padding-top: 20px;
}

.bar:hover {
    background: red;
    position: relative;
    top: -18px;
    padding-top: 20px;
}

.stores:hover {
    background: red;
    position: relative;
    top: -18px;
    padding-top: 20px;
}


.logo svg{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.logo3 svg{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.logo2 svg {
    width: 40px;
    position: relative;
    left: 700px;
    top: 20px;
    display: none;  
} 

/* close-button */
.close-button svg {
    position: relative;
    left: 670px;
    top: 25px;
    width: 25px;
    height: 30px;
    display: none;
   
}

@media screen and (max-width: 768px) {
    #navbar {
        height: 300px;
        width: 2300px;
    }

    .grocery {
        font-size: 60px;
        width: 100px;
    }
    

    .rest {
        font-size:60px;
    }
    .bar {
        font-size: 60px;
    }
    .stores {
        font-size: 60px;
    }
    
    .navbar ul {
        display: block;
        background: white;
        margin-top: 160px;
        width: 2000px;
        height: 700px;
        text-align: center;
        position: relative;
        right: -250px;
        z-index: 999;
        display: none;
    } 

    .navbar ul li {
      text-align: center;
      padding-top: 20px;
      font-size: 80px;
     
     
    }    

    .grocery {
     padding: 0px;
     width: 400px;
    }

    .logo svg{
        width: 650px;
        height: 300px;
        position: relative;
        left: -700px;
       
    }

    .logo3 svg{
       margin-left: -250px;
       width: 300px;
       height: 200px;

    }

    /* burger */
    .logo2 svg {
        width: 200px;
        height: 150px;
        position: relative;
        left: 550px;
        top: 40px;
        display: block;  
    } 

    /* close-button */
    .close-button svg {
        position: relative;
        left: 300px;
        top: -120px;
        width: 200px;
        height: 150px;
        /* display: block; */
        display: none;
        
    }

    @media screen and (max-width: 500px) {
        #navbar {
            height: 220px;
            width:2000px;
        }

        .navbar ul {
            width: 4000px;
            height: 800px;
            position: relative;
            right: 80px;
            margin-bottom:2600px;
            display: none;
           
        } 
    
        .navbar ul li {
          text-align: center;
          width: 700px;
         
        }    
        .grocery {
            font-size: 80px;
            margin-top: 80px;
        }
    
        .rest {
            font-size:80px;
        }
        .bar {
            font-size: 80px;
        }
        .stores {
            font-size: 80px;
        }
    

        .logo svg{
            width: 600px;
            height: 200px;
            position: relative;
            left: -500px;
           
        }
    
        .logo3 svg{
           margin-left: -100px;
           width: 300px;
           height: 150px;
    
        }
    
        /* burger */
        .logo2 svg {
            width: 300px;
            height: 100px;
            position: relative;
            left: 500px;
            top: 40px;
            display: block;  
        } 
    
        /* close-button */
        .close-button svg {
            position: relative;
            left: 380px;
            top: -120px;
            width: 300px;
            height: 100px;
            display: block;
            display: none;
          
        }


    }


    @media screen and (max-width: 411px) {
        #navbar {
            height: 220px;
            width: 1650px;
        }

        .navbar ul {
            width: 4000px;
            height: 800px;
            position: relative;
            right: 300px;
            margin-bottom:2600px;
            display: none;
        } 
    
        .navbar ul li {
          text-align: center;
          width: 700px;
         
        }    
        .grocery {
            font-size: 80px;
            margin-top: 80px;
        }
    
        .rest {
            font-size:80px;
        }
        .bar {
            font-size: 80px;
        }
        .stores {
            font-size: 80px;
        }
    

        .logo svg{
            width: 600px;
            height: 200px;
            position: relative;
            left: -380px;
           
        }
    
        .logo3 svg{
           margin-left: -350px;
           width: 300px;
           height: 150px;
    
        }
    
        /* burger */
        .logo2 svg {
            width: 300px;
            height: 100px;
            position: relative;
            left: 350px;
            top: 40px;
            display: block;  
            
        } 
    
        /* close-button */
        .close-button svg {
            position: relative;
            left: 550px;
            top: -120px;
            width: 300px;
            height: 100px;
            display: block;
            
        }

    }
 
    }
    @media screen and (max-width:375px) {
        #navbar {
            height: 220px;
            width: 1550px;
        }

        .navbar ul {
            width: 4000px;
            height: 800px;
            position: relative;
            right: 300px;
            margin-bottom:2600px;
            display: none;
        } 
    
        .navbar ul li {
          text-align: center;
          width: 700px;
         
        }    
        .grocery {
            font-size: 80px;
            margin-top: 80px;
        }
    
        .rest {
            font-size:80px;
        }
        .bar {
            font-size: 80px;
        }
        .stores {
            font-size: 80px;
        }
    

        .logo svg{
            width: 500px;
            height: 150px;
            position: relative;
            left: -280px;
           
        }
    
        .logo3 svg{
           margin-left: -400px;
           width: 200px;
           height: 130px;
    
        }
    
        /* burger */
        .logo2 svg {
            width: 300px;
            height: 100px;
            position: relative;
            left: 250px;
            top: 40px;
            display: block;  
        } 
    
        /* close-button */
        .close-button svg {
            position: relative;
            left: 550px;
            top: -120px;
            width: 300px;
            height: 100px;
            display: block;
            display: none;
           
        }


    }

    @media screen and (max-width:360px) {
        #navbar {
            height: 190px;
            width: 1550px;
        }

        .navbar ul {
            width: 4000px;
            height: 800px;
            position: relative;
            right: 300px;
            margin-bottom:2600px;
            display: none;
        } 
    
        .navbar ul li {
          text-align: center;
          width: 700px;
         
        }    
        .grocery {
            font-size: 80px;
            margin-top: 80px;
        }
    
        .rest {
            font-size:80px;
        }
        .bar {
            font-size: 80px;
        }
        .stores {
            font-size: 80px;
        }
    

        .logo svg{
            width: 500px;
            height: 150px;
            position: relative;
            left: -280px;
           
        }
    
        .logo3 svg{
           margin-left: -400px;
           width: 200px;
           height: 130px;
    
        }
    
        /* burger */
        .logo2 svg {
            width: 300px;
            height: 100px;
            position: relative;
            left: 250px;
            top: 40px;
            display: block;  
        } 
    
        /* close-button */
        .close-button svg {
            position: relative;
            left: 550px;
            top: -120px;
            width: 300px;
            height: 100px;
            display: block;
            display: none;
           
        }


    }

}



